.createUserForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 5rem;
  grid-column-gap: 10rem;
  padding: 3rem;
  font-size: 1.4rem;
  color: #7d7d7d;

  .textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 12rem;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;

    &:focus {
      outline: none;
    }

    &:focus + label {
      top: -2.2rem;
      font-size: 1rem;
    }
  }

  .radioLabel {
    display: inline-block;
    width: 50%;
    text-align: center;

    input {
      display: block;
      margin: 0 auto;
    }
  }

  .btn {
    width: 12rem;
    height: 3.2rem;
    background-color: #40d59d;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px grey;
    cursor: pointer;
    transition: all 0.2s;

    &:disabled {
      opacity: 0.65;
      cursor: default;
    }

    &:not(:disabled):hover {
      transform: translateY(-2px);
    }
  }

  .select {
    margin-left: 5rem;
  }
  // .input[type='file'] {
  //   display: none;
  // }

  .btnMedia {
    background-color: #40d59d;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    border: none;
    box-shadow: 0 1px 2px grey;
    outline: none;
  }
}
