.card {
  min-width: 10rem;
  padding: 1.2rem;
  &__image {
    width: 100%;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__date {
    color: grey;
  }
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
