.dimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: grey;
  width: 60rem;
  padding: 3rem;
  border-radius: 3px;
}
.action {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  button {
    opacity: 0.9;
    color: grey;
    font-weight: 500;
    padding: 0.5rem 1.4rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
  }
  button:hover {
    background-color: #40d59d;
    border: none;
    color: white;
    border-radius: 2px;
  }
}
.imagePreview {
  width: 8rem;
}
